.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
}
.btn-proceed{
    width: 90%;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    background-color: #FF9900;
    border-radius: 4px;
    font-size: 17px;
    font-family: 'Lato';
    align-items: center;
}
.proceed-link{
    text-decoration: none;
}