.cart{
    background-color: #FFE0B3;
    padding: 25px;
    position: sticky;
    top: 0;
}
.cart h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
.cart p{
    font-size: 17px;
}
.cart h6{
    font-size: 21px;
}
.btn-clear-cart{
    width: 90%;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    background-color: #FF3030;
    border-radius: 4px;
    font-size: 17px;
    font-family: 'Lato';
    align-items: center;
}
.btn-review-cart{
    width: 90%;
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    background-color: #FF9900;
    border-radius: 4px;
    font-size: 17px;
    font-family: 'Lato';
    align-items: center;
}